<!DOCTYPE HTML>

<html>

	<head>
		<meta charset= "utf-8"/>
		<title> Starry Blog </title>
        <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css rel="stylesheet">
		<link rel="stylesheet" href="public/css/styles.css">	
		
				<meta name="viewport" content= 
			"width=device-width, initial-scale=1.0"> 
		<style> 
			body { 
				font-family: Arial, sans-serif; 
				margin: 0; 
				padding: 0; 
			} 
	
			header { 
				background-color: #ffffff; 
				color: #000000; 
				text-align: left; 
			} 
	
			nav { 
				background-color: #242424; 
				padding: 10px; 
			} 
	
			nav a { 
				color: #fff; 
				text-decoration: none; 
				padding: 10px; 
				margin-right: 10px; 
				display: inline-block; 
			} 
	
			.container { 
				display: flex; 
				justify-content: space-between; 
				max-width: 95%; 
				margin: 0 auto; 
				padding: 20px; 
			} 
	
			article p { 
				text-align: justify; 
				
				
			} 
	
			main { 
				flex: 2; 
			} 
	
			article { 
				margin-bottom: 20px; 
				padding: 10px 20px; 
				border: 1px solid rgb(145, 145, 145); 
				margin-right: 10px; 
			} 
	
			aside { 
				flex: 1; 
				background-color: cornsilk	; 
				padding: 10px; 
			} 
	
			footer { 
				background-color: mediumpurple; 
				color: #fff; 
				text-align: center; 
				position: fixed; 
				bottom: 0; 
				width: 100%; 
			} 
		</style> 


	</head>
	
	<header id="header background" style="width:100%;
	height:300px;
	background: url(/public/images/voicetone.jpg)">
		<div class="logo">
		</div>

	</header>



	<body>
		
		<div id="title">
			<h1 id="top">
				Starry Summer Voice Journey
			</h1>
			
			<%- include('partials/navbar1.ejs') %>
		</div>

       
		
		<div class="container"> 
			<main> 
				<article> 
					<h2 id="muscovy">Muscovy Mystery</h2> 
					<p class="post-meta"> 
						Published on December 11, 2023 

						<img class= "img3" src="/public/images/MysteryDuck_Cropped.jpg" alt="A mysterious large duck" >
					</p> 
					<p> 
						Is this your duck? Where did it come from? What does it want? 
						This large, pied, male muscovy duck turned up the other day, 
						tucked under the feijoa trees along my driveway. Just sitting.
						And watching. Every time I look through the curtains I swear I 
						catch it looking straight back at me; even as it moves to different
						"stake out" spots around the garden! So now my search history is 
						filled with "what do ducks eat", "how much to feed a muscovy duck", 
						"what kind of shelter do ducks need?". *sigh*. I've added "small 
						swimming/ padding pool" to this weeks shopping list......

						
					</p> 
				
					<a href="/comments">Leave a Comment</a>

					 
				</article> 
	
				<article> 
					<h2 id="leto">Zvyozdnoe Leto</h2> 
					<p class="post-meta"> 
						Published on November 28, 2023 

						<img class= "img3" src="/public/images/redrosessunnysky.jpeg" alt="Million Red Roses">
					</p> 
					<p> 
						How awesome is the song "Zvyozdnoe Leto" in the video game "Atomic Heart"?!? The game is
						a first person shooter set in an alternate Russia, by game developer Mundfish Studio.
						The songs "Zvyozdnoe Leto" and "Million Red Roses" are by Alla Pugacheva, a musical icon of 
						Soviet Russia; the songs received a remix by Geoffrey Day for use in the game and have enjoyed
						a surge in renewed popularity as a result. And they are currently on repeat on my playlist! 
						Is Atomic Heart a AAA game? No. But I'd give it a solid.....B+. It's so close - but the 
						gameplay isn't as intuitive as it should be and the accents used throughout for the English
						version are jarring. You'd think the main protagonist - a Russian spy and all around Soviet
						special-agent bada55 would speak English in a Russian accent - not an American accent! 
						The NPCs speak a range of regional British accents which is just.....weird! And the stereotype 
						"German Bad Guy" accent	is reminiscent of Colonel Clink from Hogan's Heroes! But those 
						pesky irritations fall away when the beat of Zvyozdnoe Leto rolls in, rogue AI's and 
						mutant plant-zombie abominations start attacking, and you get down to the business
						of blowing them away with the strange and lethal weaponry you've been acquiring and 
						upgrading. Who would've thought a Soviet era song from the late 70s would one day
						provide such an epic a55-kicking beat to blow away the bad guys to?
						<br>

						<a href="#top">Top</a>

					</p> 
				</article> 
	
				<article> 
					<h2 id="atomic">The Problem with Non-White People</h2> 
					<p class="post-meta"> 
						Published on November 15, 2023  

						<img class="img3" src="/public/images/MJ and Gilbert.jpeg" alt="VO Gear">
					</p> 
					<p> 
						Today I reminisced about that time when I was part of a
						"focus group" providing feedback on "Rainbow" initiatives 
						to our corporate overlords who wanted to improve diversity
						and inclusiveness across the company. A small group of us were 
						set up with a polyphone in the Boardroom, dialled in on speakerphone
						with a group in Head Office. In terms of doing a "diversity and inclusiveness" survey via
						email, we were trying to convince them that such an approach wouldn't 
						yield much result because we had so many non-white staff. They 
						just couldn't see the issue, refused to see it. Why couldn't they 
						email out an online survey to everyone? Geez - we eye-rolled hard - BECAUSE 
						SO MANY OF OUR STAFF ARE NON-WHITE; the problem is obvious! Silence.
						Why did the silence seem - awkward?? Could we repeat the problem again,
						just to be clear. Sure - our staff work on a factory floor and the majority
						are non-wired!<br>  
						They're what?<br>
						NON-WIRED - they don't have access to computers and don't have an email!<br>
						You can imagine the relief was palpable when they realised we'd actually been saying
						"NON-WIRED" that whole time. 
											
		
						
						<br>

						<a href="#top">Top</a>

					</p> 
				</article> 
	
				<article> 
					<h2 id="mirror">Mirror of the Soul</h2> 
					<p class="post-meta"> 
						Published on October 28, 2023 
					</p> 
					<p> 
						ReactJS is a declarative, efficient, and flexible 
						JavaScript library for building user interfaces. 
						It is an open-source, component-based front-end 
						library that is responsible only for the view layer 
						of the application. ReactJS is not a framework, it 
						is just a library developed by Facebook to solve 
						some problems that we were facing earlier. 

						<br>

						<a href="#top">Top</a>
					</p> 
				</article> 
			</main> 
	
			<aside> 
				<h2>Recent Posts</h2> 
				<ul> 
					<li><a href="#muscovy">Muscovy Mystery</a></li> 
					<li><a href="#leto">Zvyozdnoe Leto</a></li> 
					<li><a href="#atomic">Atomic Heart</a></li> 
					<li><a href="#mirror">Mirror of the Soul</a></li> 
				</ul> 
			</aside> 
		</div> 
	
		<footer> 
			<p>© 2023 Starry Summer. All rights reserved.</p> 
		</footer> 
	</body> 
	
		
	
	
	
	