<html>

<head>
    <meta charset= "utf-8"/>
    <title> Starry Summer Members Only </title>
    <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css rel="stylesheet">
    <link rel="stylesheet" href="public/css/styles.css">
  
<style>
footer { 
				background-color: mediumpurple; 
				color: #fff; 
				text-align: center; 
				position: fixed; 
				bottom: 0; 
				width: 100%; 
			} 

</style>
</head>

<header id="header background" style="width:100%;
	height:300px;
	background: url(/public/images/voicetone.jpg)">
		<div class="logo">
		</div>
	</header>
  

  <footer> 
    <p>© 2023 Starry Summer. All rights reserved.</p> 
  </footer> 
  
<body>
    <h1>Starry's Members Only Page</h1>
    <%- include('partials/navbar3.ejs') %>
    
    <div class="container"
    
      
    <p style="color:blue"> Welcome to Starrys Subscribers, you are now logged in. </p>

    
    <br>
    <br>

    <h3>Which voice work style are you most interested in?</h3><br>
    <p> Rate which style you are most interested in and see what your fellow voice artists are in to as well! </p>

    <br>
    <img class="img5" src="/public/images/vostudio.jpeg" alt="boy shouts in to microphone">
    <br>
    
    <form action="/submit_ratings" method="post">
        <div class="product">
          <label for="product1">Character Acting</label>
          <select id="product1" name="rating_product1">
            <option value="">Select rating</option>
            <option value="1">1 - Poor</option>
            <option value="2">2 - Fair</option>
            <option value="3">3 - Good</option>
            <option value="4">4 - Very Good</option>
            <option value="5">5 - Excellent</option>
          </select>
        </div>
      <br>
        <div class="product">
          <label for="product2">Commercial</label>
          <select id="product2" name="rating_product2">
            <option value="">Select rating</option>
            <option value="1">1 - Poor</option>
            <option value="2">2 - Fair</option>
            <option value="3">3 - Good</option>
            <option value="4">4 - Very Good</option>
            <option value="5">5 - Excellent</option>
          </select>
        </div>
      <br>
        <div class="product">
          <label for="product3">AudioBooks</label>
          <select id="product3" name="rating_product3">
            <option value="">Select rating</option>
            <option value="1">1 - Poor</option>
            <option value="2">2 - Fair</option>
            <option value="3">3 - Good</option>
            <option value="4">4 - Very Good</option>
            <option value="5">5 - Excellent</option>
          </select>
        </div>
        <br>
        <p>
          <button type="submit" class="submit-btn">Submit Your Ratings!</button>
        </p>
        
      </form>
    


    <br>

    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h3 id="voicejam">Join a FREE Voice Jam session</h3>
    <br>
    <p> Take a look at the <a href="/vojam">schedule </a>and themes for our regular "voice jam" sessions, hosted by Starry & other special guest voice artists.</p>
    <br>
    <br>
    <br>
    <br>
    <br>

    </div>  
</body>



</html>